@font-face {
	font-family: 'PT Sans';
	src: url('../../fonts/PT_Sans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}