<footer class="container-fluid">
	<div class="footer-container">
		<div class="footer-links">
			<a class="footer-link" href="#!">privacy policy</a>
			<a class="footer-link" href="#!">about us</a>
			<a class="footer-link" href="#!">support</a>
		</div>
		<div class="social">
			<a href="#!" class="social-link social-link--fb">
				<img src="img/fb.svg" alt="fb">
			</a>
			<a href="#!" class="social-link social-link--tw">
				<img src="img/tw.svg" alt="tw">
			</a>
			<a href="#!" class="social-link social-link--inst">
				<img src="img/inst.svg" alt="inst">
			</a>
		</div>
		<span class="copyright">Copright © 1999 - 2019</span>
		</div>
</footer>