<header class="container-fluid">
	<div class="container">
		<div class="top-line">
			<a href="./" class="logo">
				<img src="img/logo.png" alt="" >
			</a>
			<nav class="navigation">
				<div id="burger" class="burger">
					<div class="burger-box">
						<div class="burger-inner"></div>
					</div>
				</div>
				<ul id="menu" class="menu" tabindex="0">
					<li class="menu__item header__link dropdown" >products
						<ul class="submenu">
							<li class="submenu__item">
								<a href="#!" class="submenu__link" >Microsoft-burger</a>
							</li>
							<li class="submenu__item" >
								<a href="#!" class="submenu__link" >Apple-burger</a>
							</li>
							<li class="submenu__item" >
								<a href="#!" class="submenu__link" >Android-burger</a>
							</li>
							<li class="submenu__item" >
								<a href="#!" class="submenu__link" >Custom-burger</a>
							</li>
						</ul>
					</li>
					<li class="menu__item" >
						<a href="#!" class="header__link">news & events</a>
					</li>
					<li class="menu__item"  >
						<a href="#!" class="header__link" >support</a>
					</li>
					<li class="menu__item" >
						<a href="#!" class="header__link" >contacts</a>
					</li>
				</ul>
				<div class="enter">
					<a href="#!" class="header__link header__link--login" tabindex="0">login</a>
					<a href="#!" class="header__link header__link--buy" tabindex="0">buy now</a>
				</div>
			</nav>
			<!-- <div class="enter">
				<a href="#!" class="header__link header__link--login" tabindex="0">login</a>
				<a href="#!" class="header__link header__link--buy" tabindex="0">buy now</a>
			</div> -->
		</div>
		<div class="container">
			<h1>WE SOLVE<br>
			 YOUR PROBLEMS</h1>
			<p class="header-notice">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec accumsan velit.  Ut gravida id sem id sodales. Aenean quis enim dui. Vestibulum ullamcorper vel urna quis congue.</p>
		</div>
	</div>
</header>